<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body bgcolor="yellow">

<h1 align="center"><font color="lightBlue">Twitter</font></h1>

<br>
<h2> Sign Up </h2>


<form action="/signup" method="POST">
        User name:<font color="red">*</font><input type="text" name="username" /> <br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:<font color="red">*</font><input type="text" name="email" /> <br>
        &nbsp;&nbsp;Password:<font color="red">*</font><input type="password" name="password"><br> 
        <h6>
               (Fields with <font color="red">*</font> are mandatory)

         </h6>

       <input type="submit"  value="Sign Up"/>
 </form>
</body>
</html>